.carousel-item {
    height: 400px; /* Set the fixed height for carousel items */
    overflow: hidden; /* Hide any overflow to prevent cropping */
    position: relative; /* Ensure relative positioning for child elements */
}

.carousel-item img {
    height: 100%; /* Make the image height fill its parent (.carousel-item) */
    width: auto; /* Allow the width to adjust proportionally */
    object-fit: cover; /* Ensure images cover the entire carousel item */
}

.image-darken {
    filter: brightness(25%);
}

.logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.carousel-caption h5,
.carousel-caption p {
    color: white;
}