<div class="container text-center mt-5">
    <div class="row justify-content-center pb-4">
        <div class="col-md-6 custom-offset">
            <div #lottieAnimation class="lottie-animation float-start"></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="display-4 fw-bold">Under Maintenance</h1>
            <p class="lead fst-italic">We're currently making improvements to our site. Please check back later.</p>
        </div>
    </div>
</div>