<app-navbar-top-component></app-navbar-top-component>

<div class="container mt-4">
  <h2 class="font-weight-bold">User Creation</h2>

  <!-- Form -->
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <!-- STAFF INFORMATION Section -->
    <h3 class="fw-medium">STAFF INFORMATION</h3>
    <hr />
    <div class="form row">
      <div class="col-12 col-md-6 mb-3">
        <label for="exampleInputStaffID1" class="form-label">Staff ID</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputStaffID1"
          aria-describedby="staffIDHelp"
        />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="exampleInputSuperiorEmail" class="form-label"
          >Superior Email</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleInputSuperiorEmail"
          aria-describedby="superiorEmailHelp"
        />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="exampleInputDesignation" class="form-label"
          >Designation</label
        >
        <select
          class="form-select form-select-md mb-3"
          aria-label="select example"
        >
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="exampleInputDivision" class="form-label">Division</label>
        <select
          class="form-select form-select-md mb-3"
          aria-label="select example"
        >
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="exampleInputDesignation" class="form-label"
          >Department</label
        >
        <select
          class="form-select form-select-md mb-3"
          aria-label="select example"
        >
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label for="exampleInputDesignation" class="form-label">Team</label>
        <select
          class="form-select form-select-md mb-3"
          aria-label="select example"
        >
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-md-6">
        <!-- Empty column to align button to the right -->
      </div>
      <div class="col-md-6">
        <button
          mat-button
          type="submit"
          class="btn btn-danger float-end px-4 py-2"
        >
          Submit
        </button>
        <button mat-button class="btn btn-light float-end px-4 py-2 me-2">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>

<!--OVERLAY-->
<app-alert-component
  [isLoading]="isLoading"
  [message]="message"
></app-alert-component>

<app-footer-component></app-footer-component>
