<app-navbar-top-component></app-navbar-top-component>

<app-carousel-component [imageUrls]="imageUrls"></app-carousel-component>

<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 bg-primary rounded">
      <h5 class="text-white mt-1 text-left pt-2 welcome-text">
        Welcome To One App Portal,
        <span class="fw-medium">{{ User.name }} </span> !
      </h5>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h2 class="text-dark mt-3 text-center fw-medium">Application List</h2>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!-- Search Bar -->
<div class="container-fluid my-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <mat-form-field class="w-100 search-bar" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="Search"
          [(ngModel)]="searchAppTitle"
          (input)="onSearch()"
        />
      </mat-form-field>
    </div>
  </div>
</div>

<!--APPLIST CONTENT-->
<div class="container-fluid applist-container">
  <div class="container py-4">
    <div class="row justify-content-center g-1">
      <div
        class="col-6 col-md-3 col-lg-2 mb-3"
        *ngFor="let card of filteredCards"
      >
        <app-appcardlist-component
          [imageUrl]="card.imageUrl"
          [title]="card.title"
          [description]="card.description"
          (loginClicked)="handleLoginClick(card.title, card.redirectUrl)"
        >
        </app-appcardlist-component>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pb-4">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
      <h2 class="text-dark mt-3 text-left fw-medium">Announcement</h2>
      <div class="card-announcement px-4 py-4 mb-3">
        <div class="row justify-content-between">
          <div class="col text-start">
            <h4 class="text-dark my-0 text-left">Title Announcement Here</h4>
          </div>
          <div class="col text-end">
            <h5 class="text-dark my-0 text-left">10 July 2024</h5>
          </div>
        </div>
        <p class="font-desc mt-2 mb-0 text-left fw-lighter">
          Desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          velit qui rerum possimus in tempora amet molestiae, dignissimos
          voluptatem, expedita pariatur? Modi, possimus alias ad magni
          voluptatibus atque suscipit recusandae?
        </p>
      </div>
      <div class="card-announcement px-4 py-4 mb-3">
        <div class="row justify-content-between">
          <div class="col text-start">
            <h4 class="text-dark my-0 text-left">Old Announcement Here</h4>
          </div>
          <div class="col text-end">
            <h5 class="text-dark my-0 text-left">08 July 2024</h5>
          </div>
        </div>
        <p class="font-desc mt-2 mb-0 text-left fw-lighter">
          Desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          velit qui rerum possimus in tempora amet molestiae, dignissimos
          voluptatem, expedita pariatur? Modi, possimus alias ad magni
          voluptatibus atque suscipit recusandae? Desc Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Corrupti velit qui rerum possimus
          in tempora amet molestiae, dignissimos voluptatem, expedita pariatur?
          Modi, possimus alias ad magni voluptatibus atque suscipit recusandae?
          Desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
          velit qui rerum possimus in tempora amet molestiae, dignissimos
          voluptatem, expedita pariatur? Modi, possimus alias ad magni
          voluptatibus atque suscipit recusandae?
        </p>
      </div>
    </div>
    <div class="row my-5"></div>
  </div>
</div>

<!--FOOTER-->
<app-footer-component></app-footer-component>

<!--OVERLAY-->
<app-progressbar-component
  [isLoading]="isLoading"
  [message]="message"
></app-progressbar-component>
