.custom-icon {
  color: white;
  /* Set icon color to white */
  font-size: 20px;
  /* Adjust icon size */
}

.applist-container {
  margin-bottom: 10vh;
  /* Adjust the value as needed for desired space */
}

.welcome-text {
  font-size: 14px;
  animation: slideAndBounce 1.5s ease-in-out;
  color: white; /* Ensuring text color is white */
  text-align: left; /* Align text to the left */
}
/* Style for the prefix icon if needed */
mat-icon {
  color: #757575; /* Example: Setting a gray color for the icon */
}

@keyframes slideAndBounce {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
    opacity: 0;
  }
  70% {
    transform: translateX(0%); /* Slide in to final position */
    opacity: 1;
  }
  80% {
    transform: translateX(-10px); /* Bounce to the left */
  }
  90% {
    transform: translateX(10px); /* Bounce to the right */
  }
  100% {
    transform: translateX(0%); /* Settle into place */
  }
}
